/* Color theme
    #232020; mineshaft - dark gray color
    #697488; pale sky - light gray color
    #DOD1D3; iron - light gray/tan color
    #AFC0D3; casper - gray blue color
    whitesmoke; off-white
    black; black
*/

/* Add a dark background color to the top navigation */
.topnav {
    background-color: whitesmoke;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #232020;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    font-variant: small-caps;
    padding: 20px 75px;
    text-decoration: none;
    font-size: 22px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #232020;
    color: whitesmoke;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: black;
    color: whitesmoke;
  }

  * {box-sizing:border-box}